{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}
{% block title %}GSB{% endblock %}

{% block body %}


<div class="example-wrapper">
    <center>
    
    <img  src="image/unnamed.png" alt="NON">

    <h3> Bienvenue sur la platforme de gestion de note de frais </h3>


    <img  src="image/unnamed.jpg" alt="NON">
</center>

    
    
    
    
</div>

{% endblock %}